.editor-main{

        height: 100vh;
        width: 100%;
        max-width: 100%;
        background-color: white;
        font-family: 'Roboto Condensed', sans-serif;
}

.editor-header{
    width: 100%;
    height: 10vh;
    background-color: #EDEDED;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    min-height: 80px;
    border-bottom: 2px solid black;
}

.editor-header-cont{
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.editor-button{
    width: 75px;
    height: 35px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 10px;
}

.editor-header-cont > span{
    font-weight: 700;
    font-size: 1.25em;
}