.login-main{
    height: 100vh;
    width: 100%;
    max-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-box{
    width: 80%;
    max-width: 80%;
    height: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-box > h2{
    margin: 0;
}

.login-box label{
    margin-top: 20px;
    width: 100%;
}

.login-box input{
    width: 100%;
    max-width: 290px;
    height: 40px;
    padding: 0 10px;
    text-overflow: clip;
}

.login-box input:focus{
    outline: none;
    border: 2px solid black;
}

.login-box button{
    width: 100%;
    max-width: 290px;
    margin-top: 20px;
    height: 40px;
}

.error-box{
    background-color: red;
    color: white;
    width: 100%;
    margin-top: 10px;
    text-align: center;
    line-height: 1.4em;
}

.create-account{
    color: rgb(38, 111, 221);
    margin-top: 20px;
    text-decoration: underline;
}

.create-account:active{
    color: red;
}